@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-radial {
    background: radial-gradient(
      80% 80% at center 0%,
      rgba(222, 235, 39, 0.05) 5%,
      rgba(98, 255, 179, 0) 70%,
      rgba(98, 255, 179, 0) 100%
    );
  }
  .show {
    visibility: visible !important;
  }
  .accordion {
    --bs-accordion-bg: transparent;
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent;
  }
  .accordion-button:focus {
    box-shadow: none !important;
  }
  .accordion-button:not(.collapsed) {
    box-shadow: none !important;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url(./assets/icons/minus.svg) !important;
  }
  .accordion-button::after {
    background-image: url(./assets/icons/plus.svg) !important;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  .dropdown-item:hover {
    background-color: #fde68a;
    color: black;
  }
  .btn.active {
    background-color: #fde68a;
    color: black;
    border-color: #fde68a;
  }

  /*Range Reset*/
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }

  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }

  /***** Chrome, Safari, Opera and Edge Chromium styles *****/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #fde68a;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #0a0a0a;
    border: 1px solid #fde68a;
    height: 1rem;
    width: 1rem;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #fde68a;
    outline: none;
    outline-offset: 0.125rem;
  }

  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background-color: #fde68a;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/

    background-color: #0a0a0a;
    height: 2rem;
    width: 1rem;
  }

  input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #0a0a0a;
    outline: none;
    outline-offset: 0.125rem;
  }

  .collapse-navbar {
    @media screen and (min-width: 768px) {
      display: flex !important;
      visibility: visible !important;
    }
  }

  .test{
    position: absolute;
    top: 0;
    left: -4px;
    height: calc(100% + 1px);
    width: calc(100% + 8px);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0f0e12 80%);
    border-radius: 15px;
  }
}
