@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .bg-radial{
        background: radial-gradient(80% 80% at center 0%, rgba(222, 235, 39, 0.05) 5%, rgba(98, 255, 179, 0) 70%, rgba(98, 255, 179, 0) 100%);
    }
    .show{
        visibility: visible !important;
    }
    .accordion{
        --bs-accordion-bg: transparent;
    }
    .accordion-button:not(.collapsed){
        background-color: transparent;
    }
    .accordion-button:focus{
        box-shadow: none !important;
    }
    .accordion-button:not(.collapsed){
        box-shadow: none !important;
    }
    .accordion-button:not(.collapsed)::after{
        background-image: url(./assets/icons/minus.svg) !important;
    }
    .accordion-button::after{
        background-image: url(./assets/icons/plus.svg) !important;
    }
}